<ion-card>
  <ion-card-header>
    <ion-card-title>Adicionar ao Cardápio</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form #form="ngForm" onsubmit="return false" (submit)="adicionarProduto(form)">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" id="nome" name="nome" [(ngModel)]="produto.nome" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Preço</ion-label>
        <ion-input type="number" id="preco" name="preco" [(ngModel)]="produto.preco" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Foto</ion-label>
        <input type="file" id="foto" name="foto" accept="image/*" (change)="onFileSelected($event)" required>
      </ion-item>

      <!-- Pré-visualização da Imagem -->
      <ion-item *ngIf="preview" id="preview">
        <ion-img [src]="preview" ></ion-img>
      </ion-item>

      <ion-button expand="full" type="submit" class="adicionar-btn">Adicionar</ion-button>
    </form>
  </ion-card-content>
</ion-card>
