<app-navbar/>
<ion-content class="ion-padding" id="main-content">
  <ion-grid>
    <ion-row>
      @for(produto of produtos ; track produto.nome){
      <ion-col size="6">
        <ion-card>
          <img [src]="produto.imagem" alt="{{ produto.nome }}">
          <ion-card-header>
            <ion-card-title class="titulo-produto">{{ produto.nome }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="preco">R$ {{ produto.preco | number:'1.2-2' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
