<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo de Usuário</ion-label>
      <ion-select [(ngModel)]="tipoUsuario" placeholder="Selecione">
        <ion-select-option value="cliente">Cliente</ion-select-option>
        <ion-select-option value="administrador">Administrador</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-button expand="full" (click)="cadastrar()">Cadastrar</ion-button>
  </div>
</ion-content>
